.DS_Store
wall-mega65.lst
wall.d81
wall.prg
obj/file_fun.lst
obj/file_fun.o
obj/main.lst
obj/main.o
obj/mega65/debug_calypis.lst
obj/mega65/debug_calypis.o
obj/mega65/kernfileio.lst
obj/mega65/kernfileio.o
src/mega65/.source.txt
obj/func_job.lst
obj/func_job.o
obj/input.lst
obj/input.o
obj/setup.lst
src/.source.txt
obj/setup.lst
obj/sprite.lst
obj/sprite.o
obj/setup.o
obj/gest_game.lst
obj/gest_game.o
obj/debug_calypis.clst
obj/debug_calypis.o
obj/.history.txt
obj/file_fun.clst
obj/func_job.clst
.gitignore
obj/input.clst
obj/gest_game.clst
obj/kernfileio.clst
obj/main.clst
obj/setup.clst
obj/setup.o
obj/sprite.clst
obj/wall-mega65.cmap
obj/kernfileio.o


